<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Exclusive Offer.....</div>
                <div class="panel-body"><img src="/assets/images/Down_South_Cover.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>Buy any Dosa & Get 50% Off!!!</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Taste of Panjab</div>
                <div class="panel-body"><img src="/assets/images/Baishaki_Ad_Cover.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>20% Discount on bill 2500/orAbove</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Gym Lover go grab Offer</div>
                <div class="panel-body"><img src="/assets/images/Gym_Town_Cover.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>1 Year Package with more Benifits </h2>
                </div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                <div class="panel-body"><img src="/assets/images/sairaj_opticals.png" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>Buy 2 Opticals and get a gift card</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Best DEAL Ladies</div>
                <div class="panel-body"><img src="/assets/images/Jajass_ad_cover.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>Many More just Visit Stoare </h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Best Deal</div>
                <div class="panel-body"><img src="/assets/images/Ad_1_SO.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>Buy one Frame get One Free</h2>
                </div>
            </div>
        </div>
    </div>
</div><br><br>